.popup__label__avatar__title {
    display: block;
    font-family: 'poppins', 'Arial', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 25.5px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    margin-right: 30px;
}