:root {
  --background-color: #ffffff;
}

html {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  background-color: var(--background-color);
}

h1, h2, h3, p {
  margin: 0;
}

input:focus {
  outline: none;
}

@import url(./vendor/fonts.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__title/header__title.css);
@import url(./blocks/header/__logout/header__logout.css);

@import url(./blocks/auth/auth.css);
@import url(./blocks/auth/__login/auth__login.css);
@import url(./blocks/auth/__register/auth__register.css);
@import url(./blocks/auth/__title/auth__title.css);
@import url(./blocks/auth/__description/auth__description.css);
@import url(./blocks/auth/__form/auth__form.css);
@import url(./blocks/auth/__input/auth__input.css);
@import url(./blocks/auth/__label/auth__label.css);
@import url(./blocks/auth/__error/auth__error.css);
@import url(./blocks/auth/__input/_error/auth__input_error.css);
@import url(./blocks/auth/__submit/auth__submit.css);

@import url(./blocks/user-page/user-page.css);
@import url(./blocks/user-page/__profile/user-page__profile.css);
@import url(./blocks/user-page/__profile/__avatar/user-page__profile__avatar.css);
@import url(./blocks/user-page/__profile/__avatar/__image/user-page__profile__avatar__image.css);
@import url(./blocks/user-page/__profile/__avatar/__edit/user-page__profile__avatar__edit.css);
@import url(./blocks/user-page/__profile/__edit/user-page__profile__edit.css);
@import url(./blocks/user-page/__profile/__container/user-page__profile__container.css);
@import url(./blocks/user-page/__profile/__name/user-page__profile__name.css);
@import url(./blocks/user-page/__profile/__edit/user-page__profile__edit.css);
@import url(./blocks/user-page/__profile/__messages/user-page__profile__messages.css);
@import url(./blocks/post/post.css);
@import url(./blocks/post/__title/post__title.css);
@import url(./blocks/post/__submit/post__submit.css);
@import url(./blocks/post/__input/post__input.css);
@import url(./blocks/post/__container/post__container.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_open/popup_open.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__label/popup__label.css);
@import url(./blocks/popup/__label/__avatar/popup__label__avatar.css);
@import url(./blocks/popup/__label/__avatar/__image/popup__label__avatar__image.css);
@import url(./blocks/popup/__label/__avatar/__title/popup__label__avatar__title.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__file/popu__file.css);
@import url(./blocks/popup/__input/__avatar/popup__input__avatar.css);
@import url(./blocks/popup/__submit/popup__submit.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__title/footer__title.css);
@import url(./blocks/footer/__links/footer__links.css);
@import url(./blocks/footer/__link/footer__link.css);
@import url(./blocks/footer/__link/footer__link-vk.css);
@import url(./blocks/footer/__link/footer__link-tg.css);
@import url(./blocks/footer/__link/footer__link-git.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/footer/__container/footer__container.css);